body{
    background: rgb(0, 0, 0);
}
.logo{
    background:yellow;
    width: 450px;
    height: 490px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
.logo h1{
    font-size: 260px;
    font-weight: 600;   
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    position: absolute;
top: 2%;
    left: 32%;
    letter-spacing: 1;
    
}